.App {
  text-align: center;
}

.App .hello-world {
  color: #57068c;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
