.ArticleListing {
  margin: 0 auto;
  max-width: min(80%, 1080px);
  padding: 0 10px;
}

.ArticleListing h1 {
  font-size: 50px;
  font-weight: normal;
}

.ArticleCard {
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  padding: 18px 28px;
  margin: 40px 0;
}

.ArticleCard a {
  color: rgb(6, 41, 255);
  font-weight: bold;
}

.ArticleCard h2 {
  margin-top: 0;
}

.ArticleCardImage {
  flex-basis: 30%;
  padding-right: 28px;
}

.ArticleCardImage img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.ArticleCardText {
  flex-basis: 70%;
}

.ArticleCardText p.Date {
  margin-top: -12px;
  margin-bottom: 18px;
  padding-left: 4px;
}

.ArticleHeader p.Date {
  margin-top: 2px;
}

.ArticleHeaderWrapper {
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  margin-bottom: 55px;
  padding-top: 65px;
  padding-bottom: 25px;
}

.ArticleHeader {
  margin: 0 auto;
  max-width: min(80%, 600px);
  padding: 0 10px;
}

.ArticleHeader h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}

p.Blurb {
  font-size: 20px;
}

.ArticleBody {
  margin: 0 auto;
  max-width: min(80%, 600px);
  padding: 0 10px;
}
